@page
@{
    ViewData["Title"] = "Wprowadzenie";
}
<h1>@ViewData["Title"]</h1>
<h2>Aplikacja demonstracyjna Sim Web</h2>
<p>Wizualizacja symulacji z wykorzystaniem programowania obiektowego w C# i Razor Pages.</p>
<p>Mapa typu BigBounceMap</p>
<p>Sekwencja ruchów: rrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrr</p>